@first-color: #1890FF;
@saturation-base: 15;
@value-base: 10;

@bg-color: #414141;
@second-color: mix(spin(@first-color, 150), @bg-color, 90%);
@third-color: mix(spin(@first-color, 240), @bg-color, 90%);

@dark-text-color: #E0E0E0;
@upper-color: #fff;
@link-color: @first-color;

@line-color: mix(@bg-color, #fff, 20);
@border-color: @bg-color;

@import '../index.less';