@first-color: #1B81E0;
@saturation-base: 12;
@value-base: 12;

@bg-color: #F9F9F9;
@second-color: mix(spin(@first-color, 150), @bg-color, 90%);
@third-color: mix(spin(@first-color, 240), @bg-color, 90%);

@import './index.less';